---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import Skills from "../components/Skills.astro";
import "./../styles.css";
import ProjectGallery from "../components/ProjectGallery.astro";

const lang = "es";

const skills = [
  { name: 'JavaScript', logo: '../../public/assets/javascript.svg', progress: 'full' },
  { name: 'TypeScript', logo: '../../public/assets/typescript.svg', progress: 'full' },
  { name: 'NestJS', logo: '../../public/assets/nestjs.svg', progress: 'full' },
  { name: 'ExpressJS', logo: '../../public/assets/express.svg', progress: 'full' },
  { name: 'MongoDB', logo: '../../public/assets/mongodb.svg', progress: 'full' },
  { name: 'PostgreSQL', logo: '../../public/assets/postgresql.svg', progress: 'full' },
  { name: 'React', logo: '../../public/assets/react.svg', progress: 'full' },
  { name: 'Astro', logo: '../../public/assets/astro.svg', progress: 'partial' },
  { name: 'Spring Boot', logo: '../../public/assets/springboot.svg', progress: 'partial' },
];

const fullSkills = skills.filter(skill => skill.progress === 'full');
const partialSkills = skills.filter(skill => skill.progress === 'partial');
---

<Layout title="Juan Diego Macias." lang={lang}>
  <Cta lang={lang} />
  <Skills title="Tecnologías" technologies={fullSkills} isProjectComponent={false} />
  <Skills title="Actualmente aprendiendo" technologies={partialSkills} isProjectComponent={false} />
  <ProjectGallery />
  <button id="back-to-top" class="fixed bottom-4 right-4 hidden bg-teal-600 text-white p-4 rounded-full shadow-lg hover:bg-teal-700 dark:bg-teal-700 dark:hover:bg-teal-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
    </svg>
  </button>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Lógica para mostrar/ocultar el botón de regresar al tope
    const backToTopButton = document.getElementById('back-to-top');

    window.addEventListener('scroll', () => {
      if (window.scrollY > 300) {
        backToTopButton!.classList.remove('hidden');
      } else {
        backToTopButton!.classList.add('hidden');
      }
    });

    backToTopButton!.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
