---
import { projects } from '../data/projects';
import Skills from './Skills.astro';


const getTechnologies = (technologies: string[]) => {
  return technologies.map((tech) => {
    const skill = {
      name: tech,
      logo: `./../../public/assets/${tech.toLowerCase()}.svg`,
      progress: 'full'
    };
    return skill;
  });
};
---

<div class="px-10 bg-white pt-10 dark:bg-gray-900">
  <h2 class="text-xl text-center dark:text-white text-black font-bold pb-6">Proyectos:</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {projects.map(project => (
      <div class="relative border rounded-lg overflow-hidden shadow-lg group dark:bg-gray-900 dark:border-gray-700">
        <img src={project.imageUrl} alt={project.title} class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-105"/>
        <div class="p-4">
          <h2 class="text-xl font-bold dark:text-white">{project.title}</h2>
          <p class="dark:text-gray-300">{project.description}</p>
        </div>
        <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 group-hover:opacity-100 flex flex-col items-center justify-center p-4 space-y-2">
          <Skills isProjectComponent={true} title="Tecnologías utilizadas" technologies={getTechnologies(project.technologies)} />
          <a href={project.link} target="_blank" class="text-white text-lg font-semibold bg-teal-500 py-2 px-4 rounded hover:bg-teal-600 dark:bg-teal-600 dark:hover:bg-teal-600">Ir al proyecto</a>
        </div>
      </div>
    ))}
  </div>
</div>
